.productList{
    flex: 4;
    
}

.userList{
    flex:4;
    
}

.userListUser{
    display: flex;
    align-items: center;

}
.productListImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.ProductListEdit{
    border:none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: darkgreen;
    color: wheat;
    cursor: pointer;
    margin-right: 20px;
}
.productLiseDelete{
    color: red;
    cursor: pointer;
}
.userListItem{
    display: flex;
    align-items: center;
}